body {
    background-color: #18453b;
    font-family: 'Verdana',Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #cb5a28;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: #fffff2;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: #97a2a2;
    color: #18453b;
    text-align: center;
    padding: 10px;
    font-family: 'Palatino',Helvetica, Arial, sans-serif;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 20px;
  background-color: #fffff2;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#contactimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float: center;
}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #fffff2;
  color: black;
  text-align: left;
}
#student-group {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 600px;
}

#student-group td, #student-group th {
  border: 1px solid #fffff2;
  padding: 8px;
}

#student-group tr:nth-child(even){background-color: #97a2a2;}

#student-group th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #18453b;
  color: white;
}

#grades {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 600px;
}

#grades td, #grades th {
  border: 1px solid #fffff2;
  padding: 8px;
}

#grades tr:nth-child(even){background-color: #97a2a2;}

#grades th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #18453b;
  color: white;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #97a2a2;
  color: white;
  text-align: right;
}


.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}
